IO_LOC "clk_50m" E2;

IO_LOC "hdmi_tx_tmds[0]" H8;
IO_LOC "hdmi_tx_tmds[1]" G7;
IO_LOC "hdmi_tx_tmds[2]" F5;
IO_LOC "hdmi_tx_tmds_clk" H5;

IO_LOC "hdmi_tx_ddc_sda" E11;
IO_LOC "hdmi_tx_ddc_scl" E10;
IO_LOC "hdmi_tx_cec" K5;
IO_LOC "hdmi_tx_hpd" A10;
IO_LOC "hdmi_tx_heac" A11;

IO_LOC "spi_cs0" B10;
IO_LOC "spi_cs1" C10;
IO_LOC "spi_sclk" C11;
IO_LOC "spi_mosi_d0" B11;
IO_LOC "spi_miso_d1" D11;
IO_LOC "spi_d2" G11;
IO_LOC "spi_d3" G10;

IO_LOC "usb_host_dp" L6;
IO_LOC "usb_host_dn" K6;

IO_LOC "usb_cpu_uart_tx" G2;
IO_LOC "usb_cpu_uart_rx" L4;

IO_LOC "led_done" D7;
IO_LOC "led_ready" E8;

IO_LOC "button_s1" H11;
IO_LOC "button_s2" H10;

IO_LOC "test_led[0]" B2;
IO_LOC "test_led[1]" F2;
IO_LOC "test_led[2]" E1;
IO_LOC "test_led[3]" E3;
IO_LOC "test_led[4]" J1;
IO_LOC "test_led[5]" G4;
IO_LOC "test_led[6]" H1;
IO_LOC "test_led[7]" K7;

IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_PORT "hdmi_tx_tmds_clk" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_tmds[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_tmds[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_tmds[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_PORT "hdmi_tx_ddc_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_ddc_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_cec" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_hpd" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_PORT "hdmi_tx_heac" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_PORT "usb_host_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "usb_host_dn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_PORT "usb_cpu_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "usb_cpu_uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_PORT "spi_cs0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "spi_cs1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "spi_mosi_d0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "spi_miso_d1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "spi_d2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "spi_d3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_PORT "led_done" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_ready" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_PORT "button_s2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_PORT "button_s1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_PORT "test_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "test_led[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
